.container {
  margin: 0 auto;
  max-width: 520px;
}

.block {
  display: block;
}

.flex-row {
  display: flex;
  flex-direction: row;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.space-between {
  justify-content: space-between;
}

.gap-05 {
  gap: 0.5em;
}

.gap-1 {
  gap: 1em;
}

.gap-2 {
  gap: 2em;
}
