.centered-title {
    text-align: center;
  }

.cadastro-abrigo {
    text-align: center;
    margin:20px;
    font-size: 25px;
    font-weight: bold;
}

.header-with-icon {
    display: flex;
    align-items: center;
    justify-content: center; /* Ensures the icon is on the right */
  }

  .icon-right {
    font-size: 30px; /* Adjust the icon size to match the h1 text */
    color: white; /* Customize the icon color if necessary */
  }  

