.shelter-list-title {
    text-align: center;
    font-size: 1.6rem;

  }
  
  ion-card {
    margin: 10px;
  }

  .card {
    margin-top: 12px;
    margin-bottom: 10px;
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }