.shelter-list-title {
    text-align: center;
    font-size: 1.6rem;

  }
  
  ion-card {
    margin: 12px;
  }

  .details-button {
    border-radius: 4px;
    transition: background-color 0.3s, color 0.3s;
    font-weight: bold;
  }
  
  .details-button:hover {
    background-color: var(--ion-color-secondary-tint);
    color: var(--ion-color-light);
    border: 2px var(--ion-color-secondary);
  }

  h1 {
    text-align: center;
    margin-bottom: 20px;
  }

  .custom-card {
    border: 3px solid var(--ion-color-primary);
    background-color: var(--ion-color-dark);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
  }
  
  .custom-card-header {
    color: var(--ion-color-primary);
  }

  .custom-card-content {
    margin: 10px;
  }

  .last-buttons {
    margin-left: 12px;
    margin-top: 10px;
    margin-bottom: 10px;

  }
  