.cadastro-abrigo {
  margin: 20px;
  font-size: 25px;
  font-weight: bold;
}

.header-with-icon {
  display: flex;
}

.icon-right {
  font-size: 30px;
  /* color: white; Customize the icon color if necessary */
}

.form-list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.animal-selection {
  padding-left: 16px;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  padding-bottom: 20px;
}

.animal-selection h2 {
  width: 100%;
  font-size: 20px;
  margin-bottom: 1px;
}
